@media (max-width: 1200px) {
    #sct1 {
        display: flex;
    }
    #sct1 img {
        width: 100%;
        height: 500px;
    }
    #sct1 .sct1texto {
        top: 20%;
    }

    #sct4 , #sct5{
        display: none;
    }
}

@media (max-width: 796px) {
    #sct1 img {
        height: 310px;
    }
    #sct1 .sct1texto {
        left: 15px;
        top: 200px;
        width: 90%
    }
    .sct1texto h1 {
        font-size: clamp(18px,8vw,30px);
        
    }
    .container-img::after {
        background: linear-gradient(360deg, #2B2828 -4.94%, rgba(167, 166, 166, 0.25) 36.53%, rgba(217, 217, 217, 0.00) 42.53%);
    }

    .btn-solicitar {
        margin-top: 8px;
    }
    #inicio h2 {
        font-size: clamp(18px,8vw,30px);
    }

    #sct2 .sect2-card {
        margin: 0 12px;
        gap: 0;
        margin-bottom: 0;
    }
    #sct2 .sect2-card div{
        margin-bottom: 2px;
        margin-top:0;
    }
    #sct2 .sect2-card div h4 {
        font-size: clamp(15px, 6vw, 17px);
    }    

    #sct2 .sect2-card div p{
        width: 100%;
         font-size: clamp(14px, 6vw, 15px);
    }

    #inicio #sct3 h2 {
        margin: 0 auto;
    }

    .sct3-servicios{
        margin: 0 15px;
    }

    .sct3-servicios .sct3-admin, .sct3-seguridad{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        
    }

    #sct3 .card {
        width: 45%;
    }


}

/* ------------------------------------------------------ */

@media (max-width: 500px) {
    #sct1 img {
        height: 190px;
    }
    #sct1 .sct1texto {
        display: flex;
        flex-direction: column;
        left: 15px;
        top: 125px;
        align-items: center;
        
    }
    .sct1texto h1 {
        font-size: clamp(16px,8vw,24px);
    }

    .sct1texto p {
        margin-top: 20px;
        color: #303030;
        width: 100%;
        font-size: clamp(14px,5vw,15px);
    }

    .btn-solicitar {
        font-size: clamp(14px,5vw,15px);
        margin-top: 20px;
    }

    #sct2 h2 {
        display: inline-block;
        font-size: clamp(16px,8vw,24px);
    }

    #sct2 {
        margin-top: 160px;
    }

    #sct2 .sect2-card {
        margin: 0 18px;
        gap: 0;
        margin-bottom: 0;
    }

    #sct3 {
        margin-top: 30px;
        display: flex;
    }
    #inicio #sct3 h2 {
        font-size: clamp(16px,8vw,24px);
        margin: 0 auto;
    }

    .sct3-servicios .sct3-admin, .sct3-seguridad{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sct3-servicios .sct3-admin {
        padding-bottom: 20px;
    }

    #sct3 h3 {
        font-size: clamp(17px,5vw,20px);
        padding-left: 5px;
    }

    #sct3 .card {
        width: 90%;
    }

}



/* ------------------------------------------------------- */

@media (max-width: 350px) {
    #sct1 img {
        height: 180px;
    }
    #inicio h2 {
        margin-top: 0;
        display: inline-block;
        font-size: clamp(15px,8vw,20px);
    }
    #sct1 .sct1texto {
        top: 118px;
    }
}



