
#servicios-sct1{
    color: #303030;
    background-image: linear-gradient(rgba(15, 44, 69, 0.683), rgba(15, 44, 69, 0.683)), url(../Img/bgservicios1.jpg);
    background-position: center;
    margin-top: 65px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontMono);
    margin-bottom: 50px;
    background-size: cover;
    justify-content: center;
}

#servicios-sct1 h1 {
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.407);
    border-top: 1px solid rgba(255, 255, 255, 0.407);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(20px,5vw,40px);
}


.servicio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.servicio-container .servicio-texto {
    max-width: 800px;
    padding: 0 25px;
    font-family: sans-serif;
}

.servicio-container .servicio-texto h3 {
    font-size: 25px;
    padding: 5px;
    padding-left: 15px;
    border-left: 4px solid #004da4;
    margin-bottom: 5px;
    color: #00628B;   
    font-weight: 400;
}

.servicio-container .servicio-texto p{
    color: #555555;
    font-size: 14px;
    padding: 7px 0;
    text-align: justify;
}

#otros-Servicios {
    background-color: rgb(255, 123, 0);
    background-image: linear-gradient(rgba(31, 7, 0, 0.60), rgba(31, 7, 0, 0.60)), url('../Img/condominios.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
}
.galeria-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
}

.galeria-img img {
    justify-content: center;
    max-height: 300PX;
    padding: 5px;
    border-radius: 10px;
}

#otros-Servicios h3 {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    font-family: sans-serif;
    color: #ffff;
    border-bottom: 1px solid #ffffff75;
    margin-bottom: 20px;
    font-size: clamp(20px,5vw,30px);
}
 h2 {
    display: flex;

}
#servicios-card {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 30px;
}
.sct-card {
    background: #00618bda;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 15px;
    overflow: hidden;
    border-radius: 1px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 0 10px;
    margin-bottom: 16px;

  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    justify-content: space-around;
  }
  
  .content .heading {
    font-weight: 700;
    font-size: 18px;
  }
  
  .content .para {
    line-height: 1.3;
    font-size: 15px;
  }
  
  .content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, rgba(69, 24, 15, 0.429),rgba(169, 24, 15, 0.429));
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .sct-card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #f38907 0%, #d7310c 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .sct-card:hover::before {
    height: 100%;
  }
  
  .sct-card:hover {
    box-shadow: none;
  }
  
  .sct-card:hover .btn {
    color: #e8e8e8;
    background: rgba(15, 44, 69, 0.472);
  }
  
  .content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .content .btn:active {
    box-shadow: none;
  }
  

 

  .slider {
    background-position: center;
    background-image: url(../Img/IMG1.jpg);
    background-size: cover;
    width: 350px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 0;
    animation: animate 20s infinite;

  }
  .slider p{
    #margin_estofdot: 40px;
  }

  #otrosServicios {

    background-color: red;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    align-items: center;
    padding-left: 10px;
  }
  .otrosServiciosTexto {
    color:#f38907;
    font-family: var(--fontMono);
    margin: 0 auto;
    text-align: center;
    font-size: clamp(25px, 5vw, 30px);
    margin: 30px auto;
    padding-bottom: 20px;
  }

  #otrosServicios p {
    color: #303030;
    width: 45%;
    text-align: justify;

  }

  .sct-card {
    background-color: #00628B;
  }

  @keyframes animate {
    0% {
      background-image: url(../Img/IMG1.jpg);
      background-size: cover;
    }
    10% {
      background-image: url(../Img/IMG2.jpg);
      background-size: cover;
    }
    20% {
      background-image: url(../Img/IMG3.jpg);
      background-size: cover;
    }
    30% {
      background-image: url(../Img/IMG4.jpg);
      background-size: cover;
    }
    40% {
      background-image: url(../Img/IMG5.jpg);
      background-size: cover;
    }
    50% {
      background-image: url(../Img/IMG6.jpg);
      background-size: cover;
    }
    60% {
      background-image: url(../Img/IMG7.jpg);
      background-size: cover;
    }
    70% {
      background-image: url(../Img/IMG8.jpg);
      background-size: cover;
    }
    80% {
      background-image: url(../Img/IMG9.jpg);
      background-size: cover;
    }
    90% {
      background-image: url(../Img/IMG11.jpg);
      background-size: cover;
    }
  }



